body {
    margin: 0;
    background-color: aliceblue;
}

#create-task-form {
    margin: auto;
}

.row {
    text-align: center;
}

li {
    cursor: pointer;
    list-style-type: none!important;
    margin-bottom: 7%!important;
}

.deleteBtn:hover {
    background-color: red;
}

.widget {
    background-color: transparent !important;
    border-color: transparent !important;
}